.opener-about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headshot-img {
  width: 80vw;
}

.img-about {
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.5);
  border: 1px solid black;
}

.intro-description {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: whitesmoke;
  width: 80vw;
  border: 1px solid black;
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.5);
}

.intro-article {
  padding: 1% 2%;
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2vh;
}

.contact-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-links-container > div {
  margin-right: 1vw;
  margin-top: 1vh;
}

.link-img {
  height: 35px;
}

.email-link {
  display: inline;
  color: #0000ee;
  cursor: pointer;
  text-decoration: underline;
}

.email-link-clicked {
  color: #1c0140;
}

@media (max-width: 1000px) {
  .headshot-img {
    width: 90vw;
  }
  .intro-description {
    width: 90vw;
  }
}
