.education-timeline-section {
  margin: 0 auto;
  width: 80vw;
  background-image: url("../assets/education-timeline-v2.svg");
  border: black 1px solid;
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.5);
}

#education-timeline-container {
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background: whitesmoke;
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.5);
  border: black 1px solid;
}

.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__date {
  color: black;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__date--right {
  text-align: right;
}

.timeline__middle {
  position: relative;
  background-color: black;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}

.final_timeline__point {
  top: initial;
  bottom: 0;
  border-radius: 0;
  height: 5px;
}

.timeline__title {
  margin: 0;
}

.timeline__paragraph {
  line-height: 1.5;
}
