.masters-thesis-container {
  background-color: whitesmoke;
  width: 80vw;
  border: 1px solid black;
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.5);
  padding: 1% 2%;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.thesis-desc-header {
  text-align: center;
  margin-bottom: 3vh;
}

.thesis-info {
  width: 100%;
}

.thesis-video {
  width: 70%;
  height: 60vh;
  border: 1px solid black;
}

.thesis-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thesis-links > a {
  margin: 10px;
}

.thesis-preview {
  width: 60%;
  border: 1px solid black;
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.5);
  padding: 1.5%;
  margin-bottom: 2vh;
}

.abstract > p {
  line-height: 2;
  text-align: justify;
}

@media (max-width: 1000px) {
  .masters-thesis-container {
    width: 90vw;
  }

  .thesis-preview {
    width: 90%;
  }
}
