.masters-thesis-container {
  background-color: whitesmoke;
  width: 80vw;
  border: 1px solid black;
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.5);
  padding: 1% 2%;
  margin-bottom: 5vh;
}

.thesis-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.thesis-info {
  width: 100%;
}

.thesis-video {
  width: 70%;
  height: 60vh;
  border: 1px solid black;
}

.video-content {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .masters-thesis-container {
    width: 90vw;
  }
  .thesis-video {
    width: 100%;
    height: 40vh;
  }
}
