.write-up-title-allit {
  text-decoration: underline;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: transparent;
}

.tech-write-up-art {
  margin-top: 15px;
}

.tech-write-up {
  padding: 1% 2%;
}

.write-up-quote {
  text-align: center;
}

.emoji-pointing-down {
  font-size: 1.2rem;
}
