<div id="about-me" class="opener-about-container">
  <div class="img-about">
    <img
      src="../static/assets/header-img.svg"
      class="headshot-img"
      alt="headshot banner"
    />
  </div>
  <div class="intro-description">
    <article class="intro-article">
      <h1 style="text-align: center">To change is to live.</h1>
      <p>
        These words summarize the person behind this page. A relentless
        self-starter who only ever gives his very best effort and nothing less.
        A person who understands that a team is a sum of its parts, and that
        success is never the product of one person alone. A person that
        appreciates the necessity of understanding and fitting into different
        cultures, having called several different countries and organizations
        home over the years. A person that understands the opportunities, but
        more importantly the limitations, of emerging technologies. A person
        that chooses to use failure as a learning experience rather than as a
        defeat. This is who I am and what I have to offer.
      </p>
    </article>
  </div>
</div>
