<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <title>{% block title %}{{title}}{% endblock%}</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <link rel="stylesheet" href="../static/css/body.css" />
    <link rel="stylesheet" href="../static/css/master-thesis.css" />
    <link rel="stylesheet" href="../static/css/data-projects.css" />
    <link rel="stylesheet" href="../static/css/about.css" />
    <link rel="stylesheet" href="../static/css/education-timeline.css" />
    <link rel="stylesheet" href="../static/css/tech-skills-scroller.css" />
    <link rel="stylesheet" href="../static/css/tech-skills-desc.css" />
    <link rel="stylesheet" href="../static/css/roc-utilities.css" />
    <link rel="stylesheet" href="../static/css/dev-projects.css" />
    <!-- import scripts -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/agate.min.css"
    />
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/languages/go.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="../static/js/techScroll.js"></script>
    <script src="../static/js/copyTextButton.js"></script>
    <script src="../static/js/emailCopy.js"></script>
  </head>
  <body>
    {% include '/navbar.html' %}
    <div
      data-bs-spy="scroll"
      data-bs-target="#navbar-top"
      data-bs-root-margin="0px 0px -30%"
      data-bs-smooth-scroll="true"
      tabindex="0"
    >
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
