<div id="data-projects" class="data-projects-container">
  <article class="data-projects-">
    <h1 class="data-projects-header" style="text-align: center">
      Data Projects
    </h1>
    <p>
      More than just an interest, my passion for data has enabled me to create
      many compelling projects. The data project I am proudest of was developing
      Python case studies for my master's program at the Lucerne Univeristy of
      Applied Sciences, where I collaborated with stakeholders to develop Python
      case studies that complmented the existing curriculum of the Msc. in
      Banking and Finance program. Check out that project and more below:
    </p>
  </article>
  <div class="projects-container">
    <!-- python case studies -->
    <div class="card card-style">
      <img
        src="../static/assets/data-projects/python-case-studies.svg"
        class="card-img-top project-img"
        alt="python logo"
      />
      <div class="card-body card-body-style">
        <h5 class="card-title">
          Python Case Studies for Finance Professionals
        </h5>
        <p class="card-text">
          Created three compelling case studies to help aspiring finance
          professionals get familiar with important Python concepts and data
          science packages specifically for a financial context.
        </p>
      </div>
      <div class="card-body">
        <a
          href="https://github.com/jpbruehw/python-case-studies/tree/main"
          class="card-link"
          target="_blank"
          >Github</a
        >
        <a
          href="https://drive.google.com/file/d/1PQc8hHB1SHBpyCsHrH8ndw1acKTLIIU_/view?usp=sharing"
          class="card-link"
          target="_blank"
          >Report</a
        >
      </div>
    </div>
    <!-- horse race project -->
    <div class="card card-style">
      <img
        src="../static/assets/data-projects/horse-race.svg"
        class="card-img-top project-img"
        alt="neural network diagram"
      />
      <div class="card-body card-body-style">
        <h5 class="card-title">
          Predicting Mutual Fund Performance with Machine Learning Algorithms
        </h5>
        <p class="card-text">
          Co-authored paper investigating the power of machine learning models
          to predict the performance of actively managed mutual funds, testing
          various
        </p>
      </div>
      <div class="card-body">
        <a
          href="https://github.com/jpbruehw/machine-learning-horse-race"
          class="card-link"
          target="_blank"
          >Github</a
        >
        <a
          href="https://drive.google.com/file/d/11kH8Cxm42ZPUiMgA4Ofpbj3_69xH89_D/view?usp=sharing"
          class="card-link"
          target="_blank"
          >Report</a
        >
      </div>
    </div>
    <!-- harvard business school case -->
    <div class="card card-style">
      <img
        src="../static/assets/data-projects/hbs-case.svg"
        class="card-img-top project-img"
        alt="python logo"
      />
      <div class="card-body card-body-style">
        <h5 class="card-title">
          Strategic Asset Allocation with Solver Based Optimization
        </h5>
        <p class="card-text">
          Implemented
          <a
            href="https://www.cvxpy.org/tutorial/intro/index.html"
            target="_blank"
            >CVXPY</a
          >
          convex optimization package to simulate and build risk/return optimal
          portfolios using the Efficient Frontier and Capital Allocation Line.
        </p>
      </div>
      <div class="card-body">
        <a
          href="https://github.com/jpbruehw/hbs-investor-case"
          class="card-link"
          target="_blank"
          >Github</a
        >
        <a
          href="https://drive.google.com/file/d/14LRSIdU0XA_VRfi9E6oOWNGBoK6ym6iK/view?usp=sharing"
          class="card-link"
          target="_blank"
          >Report</a
        >
      </div>
    </div>
    <!-- modeling solvency of pension funds -->
    <div class="card card-style">
      <img
        src="../static/assets/data-projects/pension-fund-solvency.svg"
        class="card-img-top project-img"
        alt="python logo"
      />
      <div class="card-body card-body-style">
        <h5 class="card-title">Modelling Pension Fund Solvency in Python</h5>
        <p class="card-text">
          Used Monte Carlo simulations and scenario analysis to model the
          solvency of a pension fund and find optimal asset allocations using a
          solver-based approach.
        </p>
      </div>
      <div class="card-body">
        <a
          href="https://github.com/jpbruehw/python-case-studies/tree/main"
          class="card-link"
          target="_blank"
          >Github</a
        >
        <a
          href="https://drive.google.com/file/d/1Llka_s-Fui-vqa5ijGYKfWeh7V7eYAn-/view?usp=sharing"
          class="card-link"
          target="_blank"
          >Report</a
        >
      </div>
    </div>
  </div>
</div>
