<div class="dev-projects-container" id="dev-projects">
  <article class="dev-projects-">
    <h1 class="dev-projects-header" style="text-align: center">Dev Projects</h1>
    <p>
      My passion for technology has taken me in many directions. I have
      extensive experience with a variety of languages and frameworks such as
      ReactJS, Express, NodeJS, SpringBoot, and Flask. Additionally, I have
      experience building relational databases in various flavors of SQL such as
      PostgresSQL and MySQL. I have extensive experience with the Azure cloud as
      well as Azure DevOps. I also enjoy setting up CI/CD pipelines. My favorite
      languages to work with are Python and JavaScript <b>(yes, really)</b>, but
      have recently been learning more Java and have really been enjoying that.
    </p>
  </article>
  <div class="projects-container">
    <!-- az-900 certification -->
    <div class="card card-style">
      <img
        src="../static/assets/dev-projects/az-900.svg"
        class="card-img-top project-img"
        style="margin-top: 10px"
        alt="az-900 logo"
      />
      <div class="card-body card-body-style">
        <h5 class="card-title" style="text-align: center">AZ-900 Certified</h5>
        <p class="card-text">
          Microsoft Azure Fundamentals certification is a foundational
          certification that demonstrates knowledge and competence of the Azure
          cloud and its services. Passed on first attempt with a score of 94%.
        </p>
      </div>
      <div class="card-body">
        <a
          href="https://learn.microsoft.com/en-us/users/jpbruehwiler-8820/credentials/d7971f16d52cc4e7?ref=https%3A%2F%2Fwww.linkedin.com%2F"
          class="card-link"
          target="_blank"
          >Certification Link</a
        >
      </div>
    </div>
    <!-- typeframe demo -->
    <div class="card card-style">
      <img
        src="../static/assets/dev-projects/typeframe.svg"
        class="card-img-top project-img"
        style="margin-top: 10px"
        alt="typeframe proj logo"
      />
      <div class="card-body card-body-style">
        <h5 class="card-title" style="text-align: center">TypeFrame</h5>
        <p class="card-text">
          TypeFrame is a custom built and lightweight TypeScript framework.
          Fully customizable, modular, and with seamless integration with 3rd
          party libraries, TypeFrame is perfect framework package for large and
          small projects alike.
        </p>
      </div>
      <div class="card-body">
        <a
          href="https://github.com/jpbruehw/typeframe"
          class="card-link"
          target="_blank"
          >GitHub</a
        >
        <a
          href="https://jpbruehw.github.io/typeframe/"
          class="card-link"
          target="_blank"
          >Demo</a
        >
      </div>
    </div>
    <!-- caesar cipher -->
    <div class="card card-style">
      <img
        src="../static/assets/dev-projects/caesar-cipher.svg"
        class="card-img-top project-img"
        style="margin-top: 10px"
        alt="typeframe proj logo"
      />
      <div class="card-body card-body-style">
        <h5 class="card-title" style="text-align: center">Caesar Cipher</h5>
        <p class="card-text">
          Need a new password idea? Want to pass a secret message? Use this
          handy Caesar Cipher app to seamlessly encrypt and decrypt messages to
          both string and integer outputs.
        </p>
      </div>
      <div class="card-body">
        <a
          href="https://github.com/jpbruehw/caesar-cipher"
          class="card-link"
          target="_blank"
          >GitHub</a
        >
        <a
          href="https://jpbruehw.github.io/caesar-cipher/"
          class="card-link"
          target="_blank"
          >Link</a
        >
      </div>
    </div>
    <!-- hack or snooze project -->
  </div>
  <div class="jobworx-container">
    <h2 style="text-align: center; margin-top: 1vh">
      Full Stack App Project: JobWorx
    </h2>
    <div class="jobworx-img-container">
      <img
        src="../static/assets/dev-projects/jobworx-graphic.svg"
        alt="jobworx-logo"
        class="jobworx-img"
      />
    </div>
    <div class="jobworx-links">
      <div class="links-container">
        <a
          href="https://github.com/jpbruehw/jobworx-production"
          class="card-link"
          target="_blank"
          style="margin-right: 1vw"
          >GitHub</a
        >
        <a
          href="https://jobworx.azurewebsites.net/"
          class="card-link"
          target="_blank"
          >Link</a
        >
      </div>
    </div>
    <p>
      <b>For Candidates:</b> JobWorx is a fully functional job search app that
      makes finding a job and hiring easier than ever. Users have full control
      to create a resume that is both visually appealing and effective. With
      JobWorx, your profile highlights your skills as well as who you are,
      giving recruiters a full impression of not just what you know, but who you
      are. Like LinkedIn without the fluff, JobWorx lets you show recruiters
      yourself at your best. JobWorx makes applying and finding a job easier
      than ever, seamlessly apply with only one click!
    </p>
    <p>
      <b>For Recruiters:</b> Specifically designed for SMEs, JobWorx makes it
      easier than ever to find top-tier talent. With JobWorx's unique
      profile-as-a-resume approach, you can quickly identify candidates who are
      not only a great fit for the job, but also for your company's culture. Get
      all the information you need about a candidate in one click. Easily make
      job listings and monitor your competitors' strategies with our advanced
      search and filtering tools.
    </p>
    <p><b>Technologies:</b> ReactJS, JavaScript and Express</p>
    <div class="test-users">
      <div class="user-container">
        <h5>Test Job-Seeker:</h5>
        <ul class="jobworx-list">
          <li>Username: ahernandez</li>
          <li>Password: password</li>
        </ul>
      </div>
      <div class="user-container">
        <h5>Test Recruiter Profile:</h5>
        <ul class="jobworx-list">
          <li>Username: connerj</li>
          <li>Password: password</li>
        </ul>
      </div>
    </div>
  </div>
</div>
