{% extends 'base.html' %} {% block content %}
<div class="homepage-container">
  <!-- about me section -->
  {% include './about.html' %}
  <!-- tech skills section -->
  {% include './tech-skills.html' %}
  <!-- data project overview section -->
  {% include './data-projects.html' %}
  <!-- summary of roc utilities open source project -->
  {% include './roc-utilities.html' %}
  <!-- thesis description overview -->
  {% include './master-thesis.html' %}
  <!-- education timeline component -->
  {% include './education-timeline.html' %}
</div>
{% endblock %}
