<div class="homepage-container">
  <div class="opener-about-container">
    <div class="img-about">
      <img
        src="../static/assets/headshot-name-img-v2.svg"
        class="headshot-img"
        alt="headshot banner"
      />
    </div>
  </div>
  <div class="intro-description">
    <article class="intro-article">
      <h1>Hi there.</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id blanditiis
        eveniet, totam eius amet dolore ab in, expedita ducimus magni laboriosam
        dolorem, quo suscipit at officiis iusto natus reiciendis quidem.
      </p>
    </article>
  </div>
  <div class="education-timeline-section">
    <h1 style="text-align: center">Education</h1>
    <div id="education-timeline-container">
      <div class="timeline__component">
        <div class="timeline__date timeline__date--right">2013-2017</div>
      </div>
      <div class="timeline__middle">
        <div class="timeline__point"></div>
      </div>
      <div class="timeline__component timeline__component--bg">
        <h4 class="timeline__title">German International School of Boston</h4>
        <small><i>Boston, USA</i></small>
        <p class="timeline__paragraph">
          German International Abitur and American High School Diploma
        </p>
      </div>

      <div class="timeline__component timeline__component--bg">
        <h4 class="timeline__title">
          German International School of Barcelona
        </h4>
        <small><i>Barcelona, Spain</i></small>
        <p class="timeline__paragraph">
          Independent exchange year at fifteen with partner school in Barcelona,
          Spain.
        </p>
      </div>
      <div class="timeline__middle">
        <div class="timeline__point"></div>
      </div>
      <div class="timeline__component">
        <div class="timeline__date">2013-2014</div>
      </div>
      <div class="timeline__component timeline__component--bottom">
        <div class="timeline__date timeline__date--right">2017-2021</div>
      </div>
      <div class="timeline__middle">
        <div class="timeline__point"></div>
      </div>
      <div
        class="timeline__component timeline__component--bottom timeline__component--bg"
      >
        <h4 class="timeline__title">Boston University</h4>
        <small><i>Boston, USA</i></small>
        <p class="timeline__paragraph">
          BSBA, Dual Concentrations in Entrepreneurship and International
          Business
        </p>
      </div>
      <div
        class="timeline__component timeline__component--bottom timeline__component--bg"
      >
        <h4 class="timeline__title">Lucerne University of Applied Sciences</h4>
        <small><i>Lucerne, CH</i></small>
        <p class="timeline__paragraph">
          Master of Science in Banking and Finance
        </p>
        <a
          target="_blank"
          href="https://www.linkedin.com/posts/mscbf_nextgeneration-saxobeinvested-activity-7039594445792509952-Cyzi?utm_source=share&utm_medium=member_desktop"
          >Saxo Bank Derivative Trading Game Winner</a
        >
      </div>
      <div class="timeline__middle">
        <div class="timeline__point"></div>
      </div>
      <div class="timeline__component">
        <div class="timeline__date">2022-2024</div>
      </div>

      <div class="timeline__component">
        <div class="timeline__date timeline__date--right">2023-2023</div>
      </div>
      <div class="timeline__middle">
        <div class="timeline__point"></div>
        <div class="timeline__point final_timeline__point"></div>
      </div>

      <div
        class="timeline__component timeline__component--bottom timeline__component--bg"
      >
        <h4 class="timeline__title">Chulalongkorn University</h4>
        <small><i>Bangkok, TH</i></small>
        <p class="timeline__paragraph">
          Master of Science in Finance Semester Abroad Program
        </p>
      </div>
    </div>
  </div>
</div>
