{% extends 'base.html' %} {% block content %}
<div class="masters-thesis-container">
  <h1>All that glitters is gold?</h1>
  <div class="thesis-description">
    <article class="thesis-info">
      <h2>Master's Thesis: Predicting Recessions with Machine Learning</h2>
      <p>
        Until recently, logit and probit models have been the gold standard for
        econometric analysis. However, this is being challenged by more complex
        and powerful machine learning models. On the other hand, my thesis shows
        that machine learning models are not better at predicting recessions in
        a statistically significant way using common econometric metrics, at
        least for now.
        <em>Check out this short video highlighting the results.</em>
      </p>
    </article>
  </div>
  <div>VIDEO PLACEHOLDER</div>
</div>

{% endblock %}
