<div class="masters-thesis-container">
  <h1 class="thesis-desc-header">All that glitters is gold?</h1>
  <div class="thesis-description">
    <article class="thesis-info">
      <h5>Master's Thesis: Predicting Recessions with Machine Learning</h5>
      <p>
        Until recently, logit and probit models have been the gold standard for
        econometric analysis. This long-standing practice is being challenged by
        more complex and powerful machine learning models. However, my thesis
        shows that caution is always the best approach and that there is no
        one-size-fits all approach.
        <strong>Check out this short video highlighting the results.</strong>
      </p>
    </article>
    <div class="thesis-video">
      <iframe
        src="https://www.youtube.com/embed/LKKoDBs1gM0?si=pwVzKk5HN4YWdP7Z"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        class="video-content"
      ></iframe>
    </div>
  </div>
</div>
