<nav id="navbar-top" class="navbar px-3 mb-5 sticky-top">
  <ul class="nav nav-pills mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="#about-me">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tech-skills">Technical</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#data-projects">Data Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#masters-thesis">Master's Thesis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#edcucation-timeline">Education</a>
    </li>
  </ul>
</nav>
