<div id="tech-skills" class="scroller-container">
  {% include './tech-skills-desc.html'%}
  <div class="scroller">
    <div class="fav-tech-carousel scroller__inner">
      <img
        src="../static/assets/fav-technologies/js.svg"
        alt="JS logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/java.svg"
        alt="java logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/python.svg"
        alt="python logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/typescript.svg"
        alt="TS logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/html-css.svg"
        alt="HTML/CSS"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/azure.svg"
        alt="Azure logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/mysql.svg"
        alt="MySql logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/postgres.svg"
        alt="postgres logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/tensorflow.svg"
        alt="Tensorflow logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/pytorch.svg"
        alt="PyTorch logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/bootstrap.svg"
        alt="Bootstrap logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/reactjs.svg"
        alt="ReactJS logo"
        class="tech-img"
      />
      <img
        src="../static/assets/fav-technologies/flask.svg"
        alt="Flask logo"
        class="tech-img"
      />
    </div>
  </div>
</div>
