<div class="tech-write-up">
  <h1 style="text-align: center">
    <span class="write-up-title-allit">L</span>ife
    <span class="write-up-title-allit">L</span>ong
    <span class="write-up-title-allit">L</span>earner
  </h1>
  <article class="tech-write-up-art">
    <blockquote
      cite="https://www.brainyquote.com/quotes/stewart_brand_172275"
      class="write-up-quote"
    >
      <p>
        <i>
          "Once a new technology rolls over you, if you're not part of the
          steamroller, you're part of the road."
        </i>
      </p>
      <footer>—Stewart Brand</footer>
    </blockquote>
    <p>
      I always liked this quote because it is kind of true, but even more so
      because of how wrong it is. The truth is that most new technologies are
      really only "better" in a very small set of niche circumstances.
      Therefore, it is almost never a question of truly better or worse, but
      tradeoffs. With that said, sometimes there really is a paradigm shift and
      it is important to stay on top of trends and understand what technologies
      have the <b>highest likelihood</b> of becoming/remaining relevant.
    </p>
    <p>
      However, the fact that technology is constantly evolving is what makes me
      so passionate about it:<b> you have to fight to keep up.</b> These are
      some of my favorites (so far) <span class="emoji-pointing-down">👇</span>
    </p>
  </article>
</div>
